# Created by .ignore support plugin (hsz.mobi)
### intellij java project template
# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class



# Package Files #
*.jar

.idea/
.gradle
out
build/